body{
	text-align: center;
	background: #fff;
}
header{
	text-align: initial;
}
.mui-bar a{
	color: #FFFFFF;
}
.mui-title{
	font-size: 18px;
	color: #FFFFFF;
}
.mui-pull-right{
	line-height: 44px;
	font-size: 18px;
}
.mui-content{
	background: #fff;
}
.midFs{
	font-size: 18px;
	color: #111100;
	letter-spacing: 0.02px;
	line-height: 18px;
	margin-top: 55px;
	font-weight: 500;
}
.headLogo{
	margin: 15px 0 65px;
}
.headLogo img{
	border-radius: 50%;
	width: 26%;
}
.bigFs{
	font-size: 24px;
	color: #000000;
	letter-spacing: 0.03px;
	line-height: 24px;
	font-weight: 500;
}
.details{
	margin-top: 12px;
	font-size: 13px;
	color: #66666F;
	letter-spacing: 0.01px;
	line-height: 20px;
}
.smaFs{
	font-size: 12px;
	color: #232326;
	letter-spacing: 0.01px;
	line-height: 12px;
	font-weight: 500;
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 100%;
}
.mui-button{
	width: 25%;
	height: 35px;
	line-height: 34px;
	display: inline-block;
	position: absolute;
	left: 37.5%;
	bottom: 50px;
}